<!DOCTYPE html>
<html>
     

<head>
    <title></title>
	<meta charset="utf-8" />
</head>
    <div ng-app ="project" ng-controller ="NIPController">
<body>
    <div class="panel panel-primary">
  
 
                <h3 class="panel-heading">Znajdź firmę</h3>     
  

    <div class="col-md-4" >
        <br />
    <div class="form-group">
    <label id="basic-addon1">NIP/KRS/REGON</label>
    <input type="text" class="form-control" placeholder="Wprowadz NIP" ng-model="NIP" ng-pattern = "max20Pattern" required aria-describedby="basic-addon1" >
    </div>
    <div ng-show="Company=='brak info'" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Komunikat:</span>
                Firma o podanym numerze NIP nie istnieje
   </div>

    <div class="form-group">
    <input id="btnSubmit" type="button" class="btn btn-primary" ng-disabled="NIP==undefined" ng-click="GetCompanyInfo()" value="Pobierz dane" />
    </div>
    
   
    <div class="form-group">
    <label id="basic-addon1">Nazwa</label>
    <input type="text" class="form-control" placeholder="Nazwa firmy" ng-disabled ="true" ng-model="Company.Name"  required aria-describedby="basic-addon1" >
    </div>

    <div class="form-group">
    <label id="basic-addon1">Ulica</label>
    <input type="text" class="form-control" placeholder="Ulica" ng-disabled ="true" ng-model="Company.Street" required aria-describedby="basic-addon1" >
    </div>

    <div class="form-group">
    <label id="basic-addon1">Nr</label>
    <input type="text" class="form-control" placeholder="Numer" ng-disabled ="true" ng-model="Company.Number"  required aria-describedby="basic-addon1" >
    </div>

    <div class="form-group">
    <label id="basic-addon1">Kod pocztowy</label>
    <input type="text" class="form-control" placeholder="Kod pocztowy" ng-disabled ="true" ng-model="Company.PostCode" required aria-describedby="basic-addon1" >
    </div>

    <div class="form-group">
    <label id="basic-addon1">Miasto</label>
    <input type="text" class="form-control" placeholder="Miasto" ng-disabled ="true" ng-model="Company.City" required aria-describedby="basic-addon1" >
    </div>
            
    </div>

    <div class="col-md-4">
        <br />
    <div class="panel panel-primary">
         <div class="panel-heading"> 
                <h3 class="panel-heading">Przykładowe dane z Seeda</h3>     
         </div>

    <table class="table table-striped table-hover table-bordered" st-pagination-scroll  >
    <tr st-select-row="row" st-select-mode="multiple" ng-click="SelectNIP(t)" ng-repeat ="t in [7777777777,8887777777,2227777777]"  ng-click="" >
	    <td><font color="black" >{{t}}</font></td>
	</tr>
    </table>
    </div>
    </div>
    </div>


</body>
        </div>
      <script src="Scripts/angular.min.js"></script> 
      <script src="app/app.module.js"></script>
      <link rel="stylesheet" type="text/css" href="Content/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="Content/Site.css">
 <!--   <script src="app/main.js"></script> --> 
</html>
